<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=mssql.fhict.local;Database=dbi365425; User Id = dbi365425; Password=YourChoosenPassword;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>